   <div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
            <div class="h4 mb-3 mt-3 bg-danger w-25 title">About Me</div>
              <p class="d-flex w-100 m-2"> 
                Hello! My name is {{name}}, and I am a student at {{college}}. 
                <br>I am currently studying Software Engineering and have software development experience.
                I believe that my work ethic, attention to detail, and willingness to learn new skills complement each other exceptionally well. 
                Furthermore, my ability to work independently without supervision has been instrumental in developing these skills.
                I have always enjoyed working with people from different backgrounds and experiences than myself.
        
            </p>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">August 10, 2000</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">saindeepanshu@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+91 9560xxxxxx</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Indirapuram, Ghaziabad.
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Hindi, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>